body {font-size:100.01%;font-family: 'Segoe UI','Trebuchet MS', Helvetica, Verdana, sans-serif}
.cm-rte-container{border:1px solid #ccc;margin:0 0 5px 0}
.x-panel-header {font-family: 'Segoe UI','Trebuchet MS', Helvetica, Verdana, sans-serif !important;font-size:13px}

.cm-bold-16{background-image: url(img/cm-bold-16.png) !important}
.cm-underline-16{background-image: url(img/cm-underline-16.png) !important}
.cm-italic-16{background-image: url(img/cm-italic-16.png) !important}
.cm-externallink-16{background-image: url(img/cm-externallink-16.png) !important}
.cm-paste-16{background-image: url(img/cm-paste-16.png) !important}
.cm-pastefromword-16{background-image: url(img/cm-pastefromword-16.png) !important}
.cm-list-bulleted-16{background-image: url(img/list-bulleted-16.png) !important}
.cm-list-numbered-16{background-image: url(img/list-numbered-16.png) !important}